<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robotiq_hande_ros2_control" params="name prefix tty use_fake_hardware:=false">
    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>

        <xacro:unless value="${use_fake_hardware}">
          <plugin>robotiq_driver/RobotiqGripperHardwareInterface</plugin>
          <param name="COM_port">${tty}</param>
          <param name="grip_pos_min">0.0</param>
          <param name="grip_pos_max">0.025</param>
        </xacro:unless>
      </hardware>

      <!-- The right finger joint uses the mimic feature -->
      <joint name="${prefix}robotiq_hande_left_finger_joint">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">0.025</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.025</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
